{% if oscpaypal_isVaultingPossible %}
    <br />
    <br />
    <input type="checkbox" id="oscPayPalVaultPaymentCheckbox">
    <label for="oscPayPalVaultPaymentCheckbox">{{ translate({ ident: "OSC_PAYPAL_VAULTING_SAVE" }) }}</label>
{% endif %}