export CYPRESS_TESTS_SHOP_DOMAIN='paul.oxiddev.de'
export CYPRESS_TESTS_SHOP_USER_NAME='test@shop.de'
export CYPRESS_TESTS_SHOP_USER_PASSWORD='oxidoxid'
export CYPRESS_TESTS_SHOP_USER_FIRST_NAME='Test'
export CYPRESS_TESTS_SHOP_USER_LAST_NAME='Shoper'
export CYPRESS_TESTS_SHOP_USER_STREET='Teststreet'
export CYPRESS_TESTS_SHOP_USER_STREET_NUMBER='1'
export CYPRESS_TESTS_SHOP_USER_ZIP='12345'
export CYPRESS_TESTS_SHOP_USER_LOCATION='Testcity'